<?php

$config = [];

// Wikipedeia title for page containing the expected POTD content.
// (Note: this is probably a Wikipedia user page with the POTD content embeded 
// inside of certain <div>s with certain 'id's
$config['wikiPageTitle'] = '';

// Full system path for rss file to be written. 
// Note: It's not completely in the tradition of RSS, but this RSS file will contain
// extactly ONE item: the most recent POTD. This fits my use case, which is to
// display only the current POTD on an external site via RSS. (It wouldn't harm
// my use case if this contained more items, but I don't need it so won't fiddle 
// with making it happen right now.)
$config['outputFile'] = '';