<?php

$config = [];

// Wikipedeia title for page containing the expected POTD content.
// (Note: this is probably a Wikipedia user page with the POTD content embeded 
// inside of certain <div>s with certain 'id's
$config['wikiPageTitle'] = '';

// Wikipedia policy requires specifying a user agent. 
// Reference: https://wikitech.wikimedia.org/wiki/Robot_policy
// Suggest using a format like: YourAppName/1.0 (https://yourwebsite.com; your.email@example.com)
$config['userAgent'] = '';

// Full system path for rss file to be written. 
// Note: It's not completely in the tradition of RSS, but this RSS file will contain
// extactly ONE item: the most recent POTD. This fits my use case, which is to
// display only the current POTD on an external site via RSS. (It wouldn't harm
// my use case if this contained more items, but I don't need it so won't fiddle 
// with making it happen right now.)
$config['outputFile'] = '';

// Wikipedia user token, required for authentication when purging user page cache
// (Otherwise, Wikipedia is likely to block you for one reason or another).
// References:
//  - Documentation: https://api.wikimedia.org/wiki/Authentication#Personal_API_tokens
//  - Logged-in user API tokens: https://api.wikimedia.org/wiki/Special:AppManagement
$config['apiToken'] = '';
